<!doctype html>
<html>
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    body {
        font-family: sans-serif;
    }
    label {
        display:block;
    }
    input[type="submit"] {
        margin-top: 20px;
        margin-left: 80px;
    }
    .error {
        color:red;
    }
    .verify {
        margin-top: 13px;
    }
    .asterisk {
        color: #ff0080;
    }
    </style>
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>