{% extends "base.html" %}
{% block content %}
<form method="post">
    <label>Username:
        <input type="text" name="username" value="{{username}}"><span class="asterisk"> *</span>
    </label>
    <p class="error">{{username_error}}</p>
    <div class="password-area">
        <label>Password:
            <input type="password" name="password"><span class="asterisk"> *</span>
        </label>
        <label class="verify">Verify Password:
            <input type="password" name="re_enter_password"><span class="asterisk"> *</span>
        </label>
        <p class="error">{{pw_error}}</p>
        {% if pw_error|length > 0 %}
        <style>
        .password-area {
            background-color: #ffff99;
            border-radius: 5px;
            max-width: 400px;
            border: 1px dotted black;
            padding: 10px 10px 0;
        }
        </style>
        {% endif %}
    </div>
    <p class="error">{{empty_field_error}}</p>
    <label>Email:
        <input type="text" name="email" value="{{email}}">
    </label>
    <input type="submit" value="Login">
</form>

{% endblock %}